

<!--
<div class="max-w-2xl mx-auto">
    <div class="inline-block mx-auto mb-8 border border-teal rounded-b-lg hover:opacity-90">
        <div class="bg-[url(/assets/yegvote-2025/endorsement-bg.png)] bg-cover">
            <div class="h-full">
                <img src="/assets/troy-at-computer-cutout-scaled.png" />
            </div>
        </div>
    </div>
</div>-->

<div class="mx-auto max-w-4xl mb-8">
    <img src="/assets/commentator-cover-scaled.png" />
</div>
<div class="pb-8 max-w-4xl mx-auto text-lg content">
    {{ content | widont }}

    <h3>You can find me on...</h3>
    <table>
        {{ foreach:page_links }}
            <tr>
                <td><i class="{{ value['icon'] }} mr-2 opacity-90"></i>{{ value['label'] }}</td><td><a href="{{ value['link'] }}">{{ value['handle'] }}</a></td>
            </tr>
        {{ /foreach:page_links }}

    </table>
</div>


