

<!--
<div class="max-w-2xl mx-auto">
    <div class="inline-block mx-auto mb-8 border border-teal rounded-b-lg hover:opacity-90">
        <div class="bg-[url(/assets/yegvote-2025/endorsement-bg.png)] bg-cover">
            <div class="h-full">
                <img src="/assets/troy-at-computer-cutout-scaled.png" />
            </div>
        </div>
    </div>
</div>-->

<div class="mx-auto max-w-4xl mb-8">
    <img src="/assets/commentator-cover-scaled.png" />
</div>
<div class="pb-8 max-w-4xl mx-auto text-lg content">
    {{ content | widont }}

    <div class="grid grid-cols-1">
        {{ foreach:page_links }}
            <div class="mb-8 hover:opacity-90">
                <a href="{{ value['link'] }}">
                    <div class="bg-[url(/assets/yegvote-2025/endorsement-bg.png)] bg-cover px-5 py-4 flex flex-col md:flex-row md:items-center md:justify-center">
                        <div class="">
                            <div>
                                <h1 class="text-black bg-yellow-300 px-4 py-2 my-0 inline-block font-black text-2xl">
                                    <i class="{{ value['icon'] }} mr-2"></i> {{ value['label'] }}
                                </h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{ /foreach:page_links }}
    </div>
</div>


