<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ ($og_title) ? $og_title : ($title . "—" . settings:site_name) }}</title>
        <meta name="description" content="{{ excerpt ?? title }}">
        <meta name="theme-color" content="00908F">

        <!-- HTML Meta Tags -->
        <title>Who's running in the 2025 Edmonton election?</title>
        {{ if og_description }}
            <meta name="description" content="{{ og_description }}">
            <meta property="og:description" content="{{ og_description }}">
            <meta name="twitter:description" content="{{ og_description }}">
        {{ else }}
            <meta name="description" content="Learn about who's running and find links to their websites and social media.">
            <meta property="og:description" content="Learn about who's running and find links to their websites and social media.">
            <meta name="twitter:description" content="Learn about who's running and find links to their websites and social media.">
        {{ /if }}

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="{{ current_url }}">
        <meta property="twitter:url" content="{{ current_url }}">
        <meta property="og:type" content="website">
        {{ if og_title }}
            <meta property="og:title" content="{{ og_title }}">
            <meta name="twitter:title" content="{{ og_title }}">
        {{ else }}
            <meta property="og:title" content="Who's running in the 2025 Edmonton election?">
            <meta name="twitter:title" content="Who's running in the 2025 Edmonton election?">
        {{ /if }}

        {{ if og_image }}
            <meta property="og:image" content="{{ og_image:url }}">
            <meta name="twitter:image" content="{{ og_image:url }}">
        {{ elseif review_og_image }}
            <meta property="og:image" content="{{ review_og_image:url }}">
            <meta name="twitter:image" content="{{ review_og_image:url }}">
        {{ else }}
            <meta property="og:image" content="https://troypavlek.ca/assets/og-image.png">
            <meta name="twitter:image" content="https://troypavlek.ca/assets/og-image.png">
        {{ /if }}


        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="troypavlek.ca">



        <script src="https://kit.fontawesome.com/3221bcdf2a.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>


        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1006551655">
        </script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'AW-1006551655');
        </script>
    </head>
    <body class="bg-white font-sans leading-normal text-grey-800 px-4 sm:px-10" x-data="{ showMobileNav: false }">
        {{ partial:nav }}
        {{ template_content }}
        {{ partial:footer }}
    </body>
</html>
