<article class="lg:py-32 max-w-4xl mx-auto">
    <h1>{{ title }}</h1>
    <div class="bg-gray-800 inline-block text-sm mb-16 pr-4 pl-16 -ml-16 uppercase tracking-widest text-white py-1 rounded-r-full">
        Published
        {{ if topics }}
        in {{ topics }}<a href="{{ url }}" class="text-teal-light no-underline hover:text-white">{{ title }}</a>{{ unless last }}, {{ /unless }}{{ /topics }}
        {{ /if }}
        on {{ date format="M j, Y" }}
    </div>
    <div class="post-content content">
        {{ content }}
            {{ if type == "text" }}
                {{ text }}
            {{ /if }}

            {{ if type == "candidate" }}
                {{ candidate }}
                    {{ partial src="yegvote-2025/candidate" }}
                {{ /candidate }}
            {{ /if }}
            {{ if type == "image" }}
                {{ images }}
                    <img src="{{ url }}" alt="{{ alt }}" />
                {{ /images }}
            {{ /if }}

            {{ if type == "email_subscription_prompt" }}
                {{ partial:email-subscribe }}
            {{ /if }}

            {{ if type == "social_embed" }}
                {{ if instagram }}
                    {{ instagram }}
                {{ /if }}
            {{ /if }}
        {{ /content }}
    </div>
    <h3 class="uppercase font-black mt-8">Related videos</h3>
    <div class="pb-2 overflow-scroll">
        {{ related_videos as="video" }}
        <ul class="carousel grid grid-flow-col gap-2">
            {{ video }}
            <li class="my-2">
                {{ if youtube }}
                    <iframe width="315" height="560" src="https://www.youtube.com/embed/{{ youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {{ else }}
                    <div class="mb-2 flex items-center"><span class="bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">VIDEO</span> {{ description }}</div>
                {{ /if }}

            </li>

            {{ /video }}
        </ul>
        {{ /related_videos }}

    </div>
</article>
