<div class="pb-8 max-w-4xl mx-auto text-lg">
    {{ collection:posts as="posts" sort="date:desc" }}
        {{ posts }}
        {{ if yegvote_2025_update_types | pluck('title') | contains_any('Update', 'Analysis', 'Context') }}
            <a href="{{ url }}" class="appearance-none text-gray-800 no-underline">
                <div class="rounded-lg rounded-l-none border border-grey-300 hover:bg-gray-50 mb-3">
                    <div class="border-teal border-l-8">
                        <div class="px-4 py-2">
                            <div class="text-normal font-light flex items-center"><span class="bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">{{ yegvote_2025_update_types:first }} {{ title }} {{ /yegvote_2025_update_types:first }}</span> <span>{{ title }}</span></div>
                            <span class="text-xs text-gray-600 uppercase">{{ date }}</span>

                        </div>
                    </div>
                </div>
            </a>
        {{ /if }}

        {{ /posts }}
    {{ /collection:posts }}
</div>

<div class="pt-8 pb-8 max-w-4xl mx-auto text-lg content">
    {{ content | widont }}
</div>

<div class="content mb-4 max-w-4xl mx-auto">
    {{ partial:email-subscribe immediate_list="true" }}
</div>


<div class="max-w-4xl mx-auto mb-32">
    <h1 class="text-3xl mb-4 text-teal">Mayor</h1>

    <div class="py-4 px-8 bg-yellow-100 rounded-lg mb-4">
        Mayor Amarjeet Sohi, the incumbent, <strong>will not be running again</strong> making this an open Mayoral race.
    </div>

    {{ collection:yegvote_2025_candidates ward:is="mayor" as="candidates" }}
        {{ if no_results }}
            <h2 class="text-3xl italic tracking-tight">No one has declared for this yet!</h2>
        {{ /if }}

        {{ candidates }}
            {{ partial:yegvote-2025/candidate }}
        {{ /candidates }}
    {{ /collection:yegvote_2025_candidates }}

{{ collection:yegvote_2025_wards type:is="councillor" as="wards" }}

    {{ wards }}

    <h1 class="text-3xl mb-4 text-teal pt-12">Councillor — {{ name }}</h1>

    {{ if commentary }}
        <div class="py-4 px-8 bg-yellow-100 rounded-lg mb-4">
            {{ commentary }}
        </div>
    {{ /if }}

    {{ collection:yegvote_2025_candidates :ward:is="slug" as="candidates" }}
    {{ if no_results }}
        <h3 class="italic tracking-tight mb-4">No one has declared for this ward yet!</h3>
    {{ /if }}

    {{ candidates }}
        {{ partial:yegvote-2025/candidate }}
    {{ /candidates }}
    {{ /collection:yegvote_2025_candidates }}
    {{ /wards }}

{{ /collection:yegvote_2025_wards }}
</div>
