<div class="pb-8 max-w-4xl mx-auto text-lg">
    <div class="content">
        {{ content }}
    </div>


        {{ reviews }}

            <div class="rounded-lg rounded-l-none border border-grey-300 mb-3">
                <div class="border-teal border-l-8">
                    <a href="{{ url }}" class="appearance-none block text-gray-800 no-underline group">
                        <div class="text-normal font-light flex flex-col md:flex-row md:items-center group-hover:bg-grey-50 px-4 pt-2">
                            {{ if stars }}
                                <span class="text-teal mr-2">
                                    {{ stars:label }}
                                </span>

                            {{ elseif recommended }}
                                <div>
                                    <span class="inline-block bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">Recommended</span>
                                </div>

                            {{ /if }}
                            <span><span class="font-medium text-lg">{{ title }}</span> <i class="fas fa-link text-xs text-gray-600 ml-2"></i></span>
                        </div>
                    </a>
                    <div class="px-4 pb-2">
                        <div class="space-x-2">
                            {{ if ticket_link }}
                            <a href="{{ ticket_link }}" target="_blank" class="text-xs text-gray-600 uppercase">
                                <i class="fas fa-link text-teal"></i> Tickets
                            </a>
                            {{ /if }}

                            {{ if artist_instagram }}
                                <a href="https://instagram.com/{{ artist_instagram }}" target="_blank" class="text-xs text-gray-600 uppercase">
                                    <i class="fa-brands fa-instagram text-teal text-xl lg:text-xs"></i> {{ artist_instagram}}
                                </a>
                            {{ /if }}
                        </div>

                        <details>
                            <summary class="bg-teal rounded-lg px-4 py-2 inline-block cursor-pointer text-white text-sm mt-1">Click to expand/collapse review</summary>
                            <div class="mt-2 space-y-2">
                                {{ content }}
                            </div>

                            {{ companion_videos as="video" }}
                            <div class="mt-4">
                                {{ video }}
                                <div class="my-2 flex space-x-2 items-center">
                                    {{ if youtube }}
                                        <iframe width="315" height="560" src="https://www.youtube.com/embed/{{ youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    {{ else }}
                                        <div class="mb-2 flex items-center"><span class="bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">VIDEO</span> {{ description }}</div>
                                    {{ /if }}

                                </div>

                                {{ /video }}
                            </div>
                            {{ /companion_videos }}
                        </details>

                    </div>
                </div>
            </div>
        {{ /reviews }}
</div>
