<h2>About the Reviewer</h2>
<p>I'm Troy Pavlek. I've been a huge fan of the Edmonton International Fringe Festival for a long time. Over the years I've seen hundreds of shows across several dozen venues. I've seen the greats, and I've seen the really, really bad.</p>

<p>I'm here to help you find a show to see over the 11-day festival, and share in the wonderful experience that is the <strong>Edmonton Fringe</strong>.</p>

<p>I also produce video reviews that you can find on each show's review page, or you can subscribe on <a href="https://www.instagram.com/troypavlek">Instagram</a>, <a href="https://www.tiktok.com/@troypavlek">TikTok</a>, or <a href="https://www.youtube.com/@troypavlek">YouTube</a>.</p>

<p>If you have any questions, want to drop recommendations, or share your own review, I'd love to hear from you! DM me on any of the above platforms, or <a href="mailto:troy@tpavlek.me">send an email</a>.</p>
