<p>Edmonton International Fringe Festival {{ year }} Reviews</p>

<p>Hi, I'm Troy. I've been Fringing a long time and I'll see a couple dozen shows a year. The Fringe can be overwhelming, but with my reviews, hopefully we can get you to a show you'll like.</p>

<p>The reviews on this page represent <em>my opinion</em> (but I have a very good opinions).</p>

<p>Lean about what <strong>stars/recommended</strong> mean in these reviews <a href="/fringe/what-do-ratings-mean">by reading more here →</a></p>
