<div class="pb-8 max-w-4xl mx-auto text-lg">
    <div class="content">
        {{ partial:fringe/intro }}
    </div>

    {{ if videos | length }}
        <div class="pb-2 overflow-scroll">
            <ul class="carousel grid grid-flow-col gap-2">
                {{ videos }}
                <li class="my-2">
                    {{ if youtube }}
                        <iframe width="315" height="560" src="https://www.youtube.com/embed/{{ youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    {{ else }}
                        <div class="mb-2 flex items-center"><span class="bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">VIDEO</span> {{ content | strip_tags | safe_truncate:200:... }}</div>
                    {{ /if }}

                </li>

                {{ /videos }}
            </ul>

        </div>

        <hr class="w-1/2 text-center mx-auto py-4" />
    {{ /if }}

    <div class="sm:hidden space-y-4 pb-4">
        {{ reviews }}
        <div>
            <a href="{{ url }}" class="appearance-none block text-gray-800 no-underline hover:bg-grey-50">
                <div class="text-normal font-light flex flex-col md:flex-row md:items-center">
                    <span>
                        <span class="">
                            {{ if companion_videos }}
                                <i class="fa-brands fa-youtube text-teal opacity-85"></i>
                            {{ /if }}
                            {{ title }}
                        </span>
                        {{ if original_review }}
                            <span class="inline-block border border-teal text-teal rounded-lg text-[9px] font-medium uppercase py-0 px-1.5 ml-1 leading-loose">Returning &middot; {{ original_review }}{{ festival:slug }}{{ /original_review }}</span>
                        {{ /if }}

                    </span>
                </div>
                <span>
                    {{ if stars }}
                        <span class="text-teal mr-2 text-sm">
                            {{ stars:label }}
                        </span>

                    {{ elseif original_review }}
                        {{ original_review }}
                            {{ if stars }}
                                <span class="text-teal mr-2 text-sm">
                                    {{ stars:label }} <span class="text-gray-500 text-xs">(at Fringe {{ festival:slug }})</span>
                                </span>
                            {{ else }}
                                <div>
                                    <span class="inline-block bg-grey-200 rounded-lg text-[9px] font-medium uppercase py-0 px-1.5 mr-2 leading-loose">{{ recommendation:label }}</span>
                                </div>
                            {{ /if }}
                        {{ /original_review }}

                    {{ elseif recommendation:value == "watchlist" }}
                        <div>
                            <span class="inline-block border border-teal text-teal rounded-lg text-[9px] font-medium uppercase py-0 px-1.5 mr-2 leading-loose">Watchlist</span>
                        </div>

                    {{ elseif categories|pluck('slug')|contains('improv') }}
                        <div>
                            <span class="inline-block bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">Improv*</span>
                        </div>

                    {{ else }}
                        <div>
                            <span class="inline-block bg-grey-200 rounded-lg text-[9px] font-medium uppercase py-0 px-1.5 mr-2 leading-loose">{{ recommendation:label }}</span>
                        </div>
                    {{ /if }}
                </span>
            </a>
        </div>

        {{ /reviews }}
    </div>

    <table class="w-full my-4 max-sm:hidden">
        <thead>
        <tr>
            <th class="text-left">Show</th>
            <th class="text-left">Rating</th>
            {{ if tickets_available }}
                <th class="text-left">Tickets</th>
            {{ /if }}
        </tr>

        </thead>
        <tbody>
        {{ reviews }}
            <tr>
                <td>
                    <a href="{{ url }}" class="appearance-none block text-gray-800 no-underline group">
                        <div class="text-normal font-light flex flex-col md:flex-row md:items-center group-hover:bg-grey-50 py-2">
                            <span>
                                <span class="">{{ title }}</span>
                                {{ if companion_videos }}
                                    <i class="fa-brands fa-youtube text-teal opacity-85"></i>
                                {{ /if }}
                                {{ if original_review }}
                                    <span class="inline-block border border-teal text-teal rounded-lg text-[9px] font-medium uppercase py-0 px-1.5 ml-1 leading-loose">Returning &middot; {{ original_review }}{{ festival:slug }}{{ /original_review }}</span>
                                {{ /if }}
                            </span>
                        </div>
                    </a>
                </td>
                <td>

                    {{ if stars }}
                        <span class="text-teal mr-2">
                            {{ stars:label }}
                        </span>

                    {{ elseif original_review }}
                        {{ original_review }}
                            {{ if stars }}
                                <span class="text-teal mr-2">
                                    {{ stars:label }} <span class="text-gray-500 text-xs">(at Fringe {{ festival:slug }})</span>
                                </span>
                            {{ else }}
                                <div>
                                    <span class="inline-block bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">{{ recommendation:label }}</span>
                                </div>
                            {{ /if }}
                        {{ /original_review }}

                    {{ elseif recommendation:value == "watchlist" }}
                        <div>
                            <span class="inline-block border border-teal text-teal rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">Watchlist</span>
                        </div>
                    {{ elseif categories|pluck('slug')|contains('improv') }}
                        <div>
                            <span class="inline-block bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">Improv*</span>
                        </div>
                    {{ else }}
                        <div>
                            <span class="inline-block bg-grey-200 rounded-lg text-xs font-medium uppercase py-1 px-3 mr-2">{{ recommendation:label }}</span>
                        </div>
                    {{ /if }}
                </td>
                {{ if tickets_available }}
                    <td>
                        <div class="space-x-2">
                            {{ partial:fringe/ticket-link }}
                        </div>
                    </td>
                {{ /if }}
            </tr>
        {{ /reviews }}

            <td></td>
        </tbody>
    </table>

    <hr class="w-1/2 text-center mx-auto py-4" />

    <div class="content">
        {{ partial:fringe/about-author }}
    </div>
</div>
